<div
  class="ltr:gird-cols-revers m-5 grid grid-cols-1 gap-6 overflow-x-hidden lg:m-10 lg:grid-cols-3"
  *ngIf="!busyLoadingProductDetails"
>
  <!-- product Image and Details -->
  <div class="col-span-2">
    <div
      class="grid grid-cols-1 items-center px-[6px] pb-5 md:grid-cols-1 lg:grid-cols-1"
    >
      <div class="card w-[100%]" *ngIf="productImgs && productImgs.length">
        <p-galleria
          [value]="productImgs"
          [responsiveOptions]="responsiveOptions"
          [containerStyle]="{ 'max-width': '900px' }"
          [numVisible]="5"
        >
          <ng-template pTemplate="item" let-item>
            <img
              [src]="item.src"
              style="width: 100%"
              class="border border-primary"
              *ngIf="item.type === 'image'"
            />
            <!-- <p-image
              *ngIf="item.type === 'image'"
              [src]="item.src"
              class=""
              alt=""
              loading="lazy"
              [preview]="true"
            /> -->

            <video
              *ngIf="item.type === 'video'"
              class="pb-1"
              controls
              muted
              [autoplay]="false"
              [poster]="item.thumbnailImageSrc"
            >
              <source [src]="item.src" type="video/mp4" />
              <source [src]="item.src" type="video/ogg" />
            </video>
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div
              class="grid-nogutter justify-content-center grid max-h-[200px]"
            >
              <img
                [src]="item.thumbnailImageSrc"
                class="max-h-[200px] w-auto"
              />
            </div>
          </ng-template>
        </p-galleria>
      </div>
      <!-- @for (media of productImages; track media) {
        @if (media.type == "image") {
          
          <p-image
            [src]="media.file"
            class=""
            alt=""
            loading="lazy"
            [preview]="true"
          />
        }
        @if (media.type == "video") {
          <video
            class="pb-1"
            controls
            muted
            [autoplay]="false"
            [poster]="media.video_thumbnail"
          >
            <source [src]="media.file" type="video/mp4" />
            <source [src]="media.file" type="video/ogg" />
          </video>
        }
      } -->
    </div>

    @if (product.sections) {
      <p-accordion [activeIndex]="activeTab" class="pt-4">
        @for (section of product.sections.data; track section) {
          <p-accordionTab header="{{ section.title }} ">
            <p
              [innerHTML]="section.description"
              class="my-[40px] px-5 text-[16px] font-[400] leading-[30px] text-[var(--color-black-900)] lg:mx-[10px]"
            ></p>
            <div class="text-center">
              <img
                [src]="section.image"
                alt="image of product"
                class="mx-auto my-10 block w-[90%] lg:h-[400px] lg:w-[918px]"
                loading="lazy"
              />
              <img
                [src]="section.image2"
                alt="image of product  "
                class="mx-auto my-10 block w-[90%] lg:h-[400px] lg:w-[918px]"
                loading="lazy"
              />
              <img
                [src]="section.image3"
                alt="image of product "
                class="mx-auto my-3 block w-[90%] lg:h-[400px] lg:w-[918px]"
                loading="lazy"
              />
              <video
                class="mx-auto w-[90%] lg:h-[450px] lg:w-[918px]"
                controls
                muted
                [autoplay]="false"
                [poster]="section.video_thumbnail"
              >
                <source [src]="section.video" type="video/mp4" />
                <source [src]="section.video" type="video/ogg" />
              </video>
            </div>
          </p-accordionTab>
        }
      </p-accordion>
    }
  </div>
  <!-- payment Info -->
  <div class="px-5">
    <div class="flex items-center justify-between">
      <div>
        <p
          class="md:[75px] bg-[var(--color-gray-200)] p-2 text-center text-[19px] font-[400] text-[var(--color-primary-200)]"
        >
          {{ product.brand.data.name }}
        </p>
      </div>
      <i
        class="fa-solid fa-spinner fa-spin mx-2 text-[3em] text-[var(--color-primary-900)]"
        *ngIf="busyLoadingChangeFavorite"
      ></i>

      <div
        *ngIf="!busyLoadingChangeFavorite"
        class="cursor-pointer rounded-full bg-white p-3 px-3"
        style="cursor: pointer"
        (click)="changeFavorite()"
        role="button"
      >
        <i
          class="fa-solid fa-heart text-[20px]"
          [class]="{
            'text-primary': !product.is_favourite,
            'text-red-700': product.is_favourite,
          }"
        ></i>
      </div>
    </div>
    <h1
      class="my-[18px] text-[24px] font-[700px] leading-[30px] text-[var(--color-black-1000)]"
    >
      {{ product.name }}
    </h1>
    <p
      class="product-description my-[18px] px-3 text-[16px] font-[400px] leading-[32px] text-[var(--color-black-900)]"
      [innerHTML]="product.description"
    ></p>
    @if (duration && duration.days) {
      <h2 class="my-[20px]">
        <span
          class="text-[21px] font-[700px] leading-[20px] text-[--color-red-100]"
        >
          🔥{{ "limitedTimeOffer" | translate }}
        </span>
        <span class="text-[16px] font-[600px] leading-[20px]">
          ( {{ duration.days }} {{ "day" | translate }} : {{ duration.hours }}
          {{ "hour" | translate }} : {{ duration.minutes }}
          {{ "minute" | translate }} : {{ duration.seconds }}
          {{ "second" | translate }} )
        </span>
      </h2>
    }
    <p class="my-[20px]" *ngIf="product.price.data.has_discount">
      <span
        class="text-[16 px] font-[600] leading-[20.6px] text-[var(--color-primary-900)]"
      >
        <span class="text-[24px] font-[600] leading-[20.6px]">
          {{
            product.price.data.has_discount
              ? product.price.data.price_after_discount
              : product.price.data.price
          }}
        </span>
        {{ product.price.data.currency_code }}
      </span>
      <span
        class="text-[var(--color-gray-300)]"
        *ngIf="product.price.data.has_discount"
      >
        <span class="text-[14px] font-[300] leading-[20.6px] line-through">
          {{ product.price.data.price }}
        </span>
        {{ product.price.data.currency_code }}
      </span>
    </p>
    <div class="my-[28px] flex items-center justify-between lg:max-w-[320px]">
      <div class="flex">
        <i
          class="fa-solid fa-star text-[16px]"
          [class]="{
            'text-[#5D77CA]': product.rate_avr >= 1,
            'text-[#aebbe4]': product.rate_avr < 1,
          }"
        ></i>
        <i
          class="fa-solid fa-star text-[16px]"
          [class]="{
            'text-[#5D77CA]': product.rate_avr >= 2,
            'text-[#aebbe4]': product.rate_avr < 2,
          }"
        ></i>
        <i
          class="fa-solid fa-star mx-1 text-[16px]"
          [class]="{
            'text-[#5D77CA]': product.rate_avr >= 3,
            'text-[#aebbe4]': product.rate_avr < 3,
          }"
        ></i>
        <i
          class="fa-solid fa-star mx-1 text-[16px]"
          [class]="{
            'text-[#5D77CA]': product.rate_avr >= 4,
            'text-[#aebbe4]': product.rate_avr < 4,
          }"
        ></i>
        <i
          class="fa-solid fa-star mx-1 text-[16px]"
          [class]="{
            'text-[#5D77CA]': product.rate_avr >= 5,
            'text-[#aebbe4]': product.rate_avr < 5,
          }"
        ></i>
      </div>
      <p class="mx-5 text-[16px] font-[700] lg:mx-9">
        {{ product.rate_avr }}/5
      </p>
      <p
        class="text-nowrap text-[16px] font-[400] text-[var(--color-primary-100)]"
        *ngIf="rates.length"
      >
        ( {{ rates.length }} {{ "numberOfReviews" | translate }} )
      </p>
    </div>
    @for (size of sizeList; track size) {
      <div class="my-3 flex items-center justify-between">
        <div class="product-card__price" style="width: 175px">
          <p>
            <span
              class="text-[16 px] font-[600] leading-[20.6px] text-[var(--color-primary-900)]"
            >
              <span class="text-[24px] font-[600] leading-[20.6px]">
                {{
                  size.productSizeCountries.data.has_discount
                    ? size.productSizeCountries.data.price_after_discount
                    : size.productSizeCountries.data.price
                }}
              </span>
              {{ product.price.data.currency }}
            </span>
            @if (product.price.data.has_discount) {
              <span class="text-[var(--color-gray-300)]">
                <span
                  class="text-[14px] font-[300] leading-[20.6px] line-through"
                >
                  {{ size.productSizeCountries.data.price }}
                </span>
                {{ product.price.data.currency }}
              </span>
            }
          </p>
        </div>
        <p
          class="text-[14px] font-[400] leading-[17.6px] text-[var(--color-gray-1000)]"
        >
          {{ size.size }}
        </p>
        <div
          *ngIf="authService.isSigned()"
          class="flex h-[48px] w-[133px] items-center justify-between border-[2px] border-[var(--color-primary-900)] px-[18px]"
          style="border: 1px solid"
        >
          <i
            style="cursor: pointer"
            class="fa-solid fa-circle-minus cursour-pointer text-[20px] hover:text-red-700"
            (click)="size.quantity > 0 && (size.quantity = size.quantity - 1)"
          ></i>
          <p class="text-[18px] font-[400]">{{ size.quantity }}</p>
          <i
            style="cursor: pointer"
            class="fa fa-plus-circle cursour-pointer text-[20px] hover:text-green-700"
            (click)="size.quantity = size.quantity + 1"
            aria-hidden="true"
          ></i>
        </div>
      </div>
    }

    @if (hasAction(product, "add_product_to_cart")) {
      <button
        [disabled]="busyLoadingAddTOCart"
        (click)="addTOCart()"
        class="my-[40px] w-full cursor-pointer rounded-[0px] bg-[var(--color-primary-900)] px-[16px] py-[15px] text-[18px] font-[400] text-white transition-all disabled:cursor-default disabled:bg-gray-500"
      >
        @if (busyLoadingAddTOCart) {
          <i class="fa-solid fa-spinner fa-spin mx-2"></i>
        }
        {{ getAction(product, "add_product_to_cart").label }}
      </button>
    }
  </div>
</div>

<div class="w-full bg-[--color-gray-250] p-10 lg:p-[50px]">
  <h3
    *ngIf="rates.length"
    class="my-[20px] text-[30px] font-[700] leading-[37px] text-[var(--color-black-1000)]"
  >
    {{ "rates" | translate }}
  </h3>
  <div
    class="lg:gird mx-auto grid justify-center gap-20 sm:grid-rows-1 lg:grid-cols-3"
    *ngIf="rates.length"
  >
    <app-user-review-card *ngFor="let review of rates" [review]="review" />
  </div>
  <h3
    *ngIf="authService.isSigned()"
    class="my-[20px] text-[30px] font-[700] leading-[37px] text-[var(--color-black-1000)]"
  >
    {{ "shareYourOpinionWithUs" | translate }}
  </h3>
  <div class="mb-4 flex gap-3 py-3" *ngIf="authService.isSigned()">
    <i
      class="fa-solid fa-star text-[22px]"
      (mouseover)="rateHoverFlag = 1"
      (mouseleave)="rateHoverFlag = 0"
      (click)="rateObj.rate = 1"
      [class]="{
        'text-[#f7ba2a]': rateObj.rate >= 1 || rateHoverFlag >= 1,
        'text-[#ccc]': rateObj.rate < 1,
      }"
    ></i>
    <i
      class="fa-solid fa-star text-[22px]"
      (mouseover)="rateHoverFlag = 2"
      (mouseleave)="rateHoverFlag = 0"
      (click)="rateObj.rate = 2"
      [class]="{
        'text-[#f7ba2a]': rateObj.rate >= 2 || rateHoverFlag >= 2,
        'text-[#ccc]': rateObj.rate < 2,
      }"
    ></i>
    <i
      class="fa-solid fa-star mx-1 text-[22px]"
      (mouseover)="rateHoverFlag = 3"
      (mouseleave)="rateHoverFlag = 0"
      (click)="rateObj.rate = 3"
      [class]="{
        'text-[#f7ba2a]': rateObj.rate >= 3 || rateHoverFlag >= 3,
        'text-[#ccc]': rateObj.rate < 3,
      }"
    ></i>
    <i
      class="fa-solid fa-star mx-1 text-[22px]"
      (mouseover)="rateHoverFlag = 4"
      (mouseleave)="rateHoverFlag = 0"
      (click)="rateObj.rate = 4"
      [class]="{
        'text-[#f7ba2a]': rateObj.rate >= 4 || rateHoverFlag >= 4,
        'text-[#ccc]': rateObj.rate < 4,
      }"
    ></i>
    <i
      class="fa-solid fa-star mx-1 text-[22px]"
      (mouseover)="rateHoverFlag = 5"
      (mouseleave)="rateHoverFlag = 0"
      (click)="rateObj.rate = 5"
      [class]="{
        'text-[#f7ba2a]': rateObj.rate >= 5 || rateHoverFlag >= 5,
        'text-[#ccc]': rateObj.rate < 5,
      }"
    ></i>
  </div>
  <div class="mt-5 flex w-full" *ngIf="authService.isSigned()">
    <input
      type="text"
      [(ngModel)]="rateObj.comment"
      class="form-control w-full rounded-[10px] border border-[#E0E0E0] bg-[#F8F8F8] px-5 py-3 text-[16px] font-[400] leading-[20px] text-[var(--color-black-1000)] lg:w-[90%]"
      type="text"
      name="comment"
      aria-describedby="helpId"
      [placeholder]="'YourComment' | translate"
    />
    <button
      (click)="rateProduct()"
      [disabled]="busyLoadingSubmitingReview"
      class="mx-3 min-w-[220px] cursor-pointer rounded-[10px] border-[1px] border-[var(--color-primary-900)] bg-white px-[16px] py-[15px] text-[18px] font-[400] text-[var(--color-primary-900)] transition-all hover:border-[var(--color-gray-100)] hover:bg-[var(--color-primary-900)] hover:text-[var(--color-gray-100)] disabled:cursor-default disabled:bg-gray-500"
    >
      @if (busyLoadingSubmitingReview) {
        <i class="fa-solid fa-spinner fa-spin mx-2"></i>
      } @else {
        <i class="fa-solid fa-comment mx-2"></i>
      }
      {{ "Save" | translate }}
    </button>
  </div>
</div>
@if (product.relatedProducts && product.relatedProducts.data.length) {
  <div class="w-full bg-white p-10 lg:p-[50px]">
    <h3
      class="my-[20px] text-[30px] font-[700] leading-[37px] text-[var(--color-black-1000)]"
    >
      {{ "productsInTheSameCategory" | translate }}
    </h3>
    <div
      class="lg:gird mx-auto grid justify-center gap-10 sm:grid-rows-1 lg:grid-cols-3"
    >
      @for (product of product.relatedProducts.data; track product) {
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  </div>
}
