<div
[ngClass]="enableBorder? 'border border-solid border-primary': ''"
  class="flags flex w-[5rem] flex-col items-center justify-center p-1  cursor-pointer"
  (click)="showList()"
>
  <div class="flex items-center  gap-[0.5rem] ">
    <div class="flag flex items-center h-[2.4rem] w-[3rem] ">
      <img *ngIf="selectedCountry && selectedCountry.flag" [src]="selectedCountry.flag" [alt]="selectedCountry.name" srcset="" />
    </div>
    <p class="text-[1.5rem] font-bold text-primary" [ngClass]="enableCaroot? '': 'hidden'">&#709;</p>
  </div>
  @if (isVisible) {
          <div class="w-full flex flex-col items-center justify-center pt-2">
        @for (country of countries; track $index) {
          <div
            class="flag h-[2.4rem] w-[3rem]"
            onselect="country"
            (click)="onSelect(country)"
          >
            <img *ngIf="country.flag" [src]="country.flag" [alt]="country.name" srcset="" />
          </div>
        }
    </div>
      }
</div>
