$colorPrimary: #192c72;
$colorSecondary: #5e78c9;
$colorOrange: #eab755;
$colorBlack: #2e2e2e;
$colorBlackLight: #383838;
$colorGrey: #78787a;
$colorOffWhite: #f7f5f0;
$colorWhite: #fff;


:root{
--color-primary-100: #5D77CA;
--color-primary-200: #475EA7;
--color-primary-900: #192c72;

--color-red-100: #E94B2F;
--color-yellow-100: #EAB755;


--color-black-800:#79797A;
--color-black-900:#373737;
--color-black-1000:#2F2F2F;

--color-light-blue-100:#F5F7FF;

--color-gray-100:#F2EEF7;
--color-gray-200:#F8F5F0;
--color-gray-250:#F9F9F9;
--color-gray-400:#D8D8D8;
--color-gray-300:#030303;

}