@use "../../../scss/abstract/" as *;

:host {
  footer {
    background-color: $colorPrimary;
    color: $colorWhite;
    @include grid();
    padding: 0 18rem;
    @include font16();
    text-transform: capitalize;
    h2 {
      @include font21();
      font-weight: 600;
    }
    .footer-nav {
      @include grid($col: repeat(5, 1fr), $align: start);
      width: 100%;
      .brand {
        padding-top: 6.633rem;
        grid-column: span 2;
        max-width: 38.985rem;
        justify-self: start;
        .slogan {
          padding-top: 2.11rem;
        }
      }
      .main-links,
      .other-links,
      .social {
        padding: 11.94rem 0rem 7.825rem;
        h2 {
          padding-bottom: 3.281rem;
        }
        ul {
          @include grid($just: start);
          gap: 0.5rem;
        }
      }
      .main-links {
        justify-self: start;
        padding-right: 4rem;
      }
      .social {
        justify-self: end;
        .social-links {
          padding-bottom: 4.773rem;
          .links {
            @include flex();
            gap: 1.5rem;
          }
        }
        .lang {
            text-align: end;
          select {
            background-color: transparent;
            color: white;
            border: 1px solid $colorWhite;
            height: 4.2rem;
            width: 12rem;
            text-align: center;
            outline: none;
            &:focus {
                outline: none;
            }
            option {
                color: $colorPrimary;
            }
          }
        }
      }
    }
    .copy-rights {
      @include grid($col: repeat(2, 1fr));
      border-top: 1px solid $colorWhite;
      width: 100%;
      p {
        padding: 1.74rem 0 2.207rem;
      }
      p:first-child {
        justify-self: start;
      }
      p:last-child {
        justify-self: end;
      }
    }
  }
}
